<div class='header'>
  <img class='theimage' src="<%= asset_path( 'NovelFormation.jpg') %>" />

  <h1 class='title'>A Novel Formation</h1>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
</div>

<div class="create">
  <div class="container">
    
    <%= form_for(@author) do |f| %>
      <div class='field'>
        <%= f.text_area :name %><br>
        <%= f.text_area :biography%>
      </div>
      <div class='actions'>
        <%= f.submit "Update" %>
      </div>
    <% end %>
    
  </div>
</div>